<div class="row">
    <div class="col-xs-12 col-sm-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Informaci&oacute;n Basica</h3>
            </div>
            <form name="indicatorForm" (ngSubmit)="onSubmit()" #indicatorForm="ngForm">
                <div #container class="box-body">
                    <div class="form-group" [ngClass]="{ 'has-error': !title.valid && !title.pristine }">
                        <label for="title" class="control-label">Nombre</label>
                        <input type="text" [(ngModel)]="indicator.title" class="form-control" name="title" required #title="ngModel">
                        <p class="help-block" [hidden]="title.valid || title.pristine">Este campo es requerido.</p>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': !datatype.valid && !datatype.pristine }">
                        <label for="" class="control-label">Unidad</label>
                        <select name="datatype" [(ngModel)]="indicator.data"  class="form-control" required #datatype="ngModel">
                            <option *ngFor="let dataType of dataTypes" [ngValue]="dataType">{{dataType.title}}</option>
                        </select>
                        <p class="help-block" [hidden]="datatype.valid || datatype.pristine">Este campo es requerido.</p>
                    </div>
                    <h3>Procesamiento de datos</h3>
                    <p>Almacenamos un valor consolidado mensual por cada indicador. Con que operaci&oacute;n desea que se realice dicha consolidaci&oacute;n? </p>
                    <div class="form-group" [ngClass]="{ 'has-error': !columnOperation.valid && !columnOperation.pristine }">
                        <label for="" class="control-label">Operaci&oacute;n</label>
                        <select name="columnOperation" [(ngModel)]="indicator.datasource.columnOperation"  class="form-control" required #columnOperation="ngModel">
                            <option *ngFor="let columnOperation of columnOperations" [ngValue]="columnOperation.id">{{columnOperation.title}}</option>
                        </select>
                        <p class="help-block" [hidden]="columnOperation.valid || columnOperation.pristine">Este campo es requerido.</p>
                    </div>
                    <h3>An&aacute;lisis de datos</h3>
                    <p>Para determinar la evoluci&oacute;n y performance de su indicador le solicitamos ingrese el valor esperado de cada indicador en manera mensual, por ejemplo: "El tiempo de espera debe ser <u>menor</u> a <u>10</u> minutos". </p>
                    <div class="form-group" [ngClass]="{ 'has-error': !expected.valid && !expected.pristine }">
                        <label for="expected" class="control-label">Valor esperado mensual</label>
                        <input type="number" [(ngModel)]="indicator.datasource.monthlyExpected" class="form-control" name="expected" required #expected="ngModel">
                        <p class="help-block" [hidden]="expected.valid || expected.pristine">Este campo es requerido.</p>
                    </div>                    
                                        
                    <span class="help-block">Por favor indiquenos el modo de comparaci&oacute;n con el valor esperado</span>
                    <div class="radio">
                        <label>
                            <input type="radio" [(ngModel)]="comparison" name="performanceComparison" required value="1" #performanceComparison="ngModel"> Menor que el valor esperado
                        </label>
                    </div>
                    <span class="help-block" for="menorQue">El tiempo de espera debe ser menor que 10 minutos. Cuando el valor real del indicador supere el valor esperado, <strong>el indicador esta performando mal</strong></span>
                    <div class="radio">
                        <label>
                            <input type="radio" [(ngModel)]="comparison" name="performanceComparison" required value="2" #performanceComparison="ngModel"> Igual que el valor esperado 
                        </label>
                    </div>
                    <span class="help-block" for="igualQue">Las ventas mensuales deben alcanzar el valor de $50.000 dolares. Cuando el valor real del indicador supere el valor esperado, <strong>el indicador esta performando mejor de lo esperado</strong></span>
                    <h3>Sem&aacute;foro</h3>
                    <h4>Necesitamos nos indique como configurar el semaforo para el indicador (por defecto utilizamos los valores que configuro en sem&aacute;foro global)</h4>
                    <div class="form-group" [ngClass]="{ 'has-error': !redUntil.valid && !redUntil.pristine }">
                        <label for="" class="col-xs-12 control-label">El sem&aacute;foro estara en rojo desde 0% hasta </label>
                        <input type="number" [(ngModel)]="indicator.semaphore.redUntil" class="form-control" name="redUntil" required #redUntil="ngModel">
                        <p class="help-block" [hidden]="redUntil.valid || redUntil.pristine">Este campo es requerido.</p>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': !yellowUntil.valid && !yellowUntil.pristine }">
                        <label for="" class="col-xs-12 control-label">El sem&aacute;foro estara en amarillo desde {{redUntil.value}}% hasta</label>
                        <input type="number" [(ngModel)]="indicator.semaphore.yellowUntil" class="form-control" name="yellowUntil" required #yellowUntil="ngModel">
                        <p class="help-block" [hidden]="yellowUntil.valid || yellowUntil.pristine">Este campo es requerido.</p>
                    </div>

                    <h3>Importaci&oacute;n de datos</h3>
                    <strong>Por favor, no olvide habilitar los popups para este sitio!!</strong>
                    <button type="button" class="btn btn-info center-block"  [disabled]="!indicatorForm.form.valid" (click)="redirectToCollector()">Configurar importaci&oacute;n de datos</button>
                    <span class="help-block">Este bot&oacute;n iniciar&aacute; nuestra aplicaci&oacute;n de recolecci&oacute;n de datos en su computadora. Si no posee la aplicaci&oacute;n, puede bajarla realizando click en: <a href="/installers/macos.dmg">Mac OS</a> | <a href="/installers/win64.zip">Windows</a></span>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default">Cancelar</button>
                    <button type="submit"  [disabled]="!indicatorForm.form.valid" class="btn btn-primary pull-right">Guardar</button>
                </div>
            </form>                    
        </div>
    </div>
</div>


