<div class="row">
    <div class="col-xs-12 col-sm-10">
        <div class="box box-primary">
            <h2>{{errorMessage}}</h2>
            <form name="goalForm" (ngSubmit)="onSubmit()" #goalForm="ngForm">
                <div #container class="box-body">
                    <div class="form-group" [ngClass]="{ 'has-error': !title.valid && !title.pristine }">
                        <label for="title" class="control-label">Nombre</label>
                        <input type="text" [(ngModel)]="goal.title" class="form-control" name="title" required #title="ngModel">
                        <p class="help-block" [hidden]="title.valid || title.pristine">Este campo es requerido.</p>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': !perspective.valid && !perspective.pristine }">
                        <label for="" class="control-label">Perspectiva</label>
                        <select name="perspective" [(ngModel)]="goal.perspectiveId"  class="form-control" required #perspective="ngModel">
                            <option *ngFor="let perspective of perspectives" [ngValue]="perspective._id">{{perspective.title}}</option>
                        </select>
                        <p class="help-block" [hidden]="perspective.valid || perspective.pristine">Este campo es requerido.</p>
                    </div>
                    <h3>Sem&aacute;foro</h3> 
                    <h4>Necesitamos nos indique como configurar el sem&aacute;foro para el indicador (por defecto utilizamos los valores que configuro en sem&aacute;foro global)</h4>
                    <div class="form-group" [ngClass]="{ 'has-error': !redUntil.valid && !redUntil.pristine }">
                        <label for="" class="col-xs-12 col-sm-4 control-label">El sem&aacute;foro estara en rojo desde 0% hasta </label>
                        <input type="number" [(ngModel)]="goal.semaphore.redUntil" class="form-control" name="redUntil" required #redUntil="ngModel">
                        <p class="help-block" [hidden]="redUntil.valid || redUntil.pristine">Este campo es requerido.</p>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': !yellowUntil.valid && !yellowUntil.pristine }">
                        <label for="" class="col-xs-12 col-sm-4 control-label">El sem&aacute;foro estara en amarillo desde {{redUntil.value}}% hasta</label>
                        <input type="number" [(ngModel)]="goal.semaphore.yellowUntil" class="form-control" name="yellowUntil" required #yellowUntil="ngModel">
                        <p class="help-block" [hidden]="yellowUntil.valid || yellowUntil.pristine">Este campo es requerido.</p>
                    </div>
                    <h3>Indicadores del objetivo</h3>
                    <table #goalIndicatorsTable class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Unidad</th>
                                <th>Consolidado</th>
                                <th>Acciones</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indicator of goal.indicators;">
                                <td>{{indicator.title}}</td>
                                <td>{{indicator.data.title}}</td>
                                <td>{{indicator.columnOperationTitle}}</td>
                                <td>
                                    <a href="/indicators/edit/{{indicator._id}}" class="btn btn-default"><i class="fa fa-pencil text-yellow"></i> Editar</a>
                                    <button type="button" class="btn btn-default" (click)="assignIndicator(indicator)"><i class="fa fa-pencil text-green"></i> Editar Asociaci&oacute;n</button>
                                    <button type="button" class="btn btn-default" (click)="removeFromGoal(indicator)"><i class="fa fa-trash-o text-red"></i> Desasignar</button>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                    <h3>Indicadores en el sistema</h3>
                    <table #indicatorsTable class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Unidad</th>
                                <th>Consolidado</th>
                                <th>Acciones</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let indicator of indicators;">
                                <td>{{indicator.title}}</td>
                                <td>{{indicator.data.title}}</td>
                                <td>{{indicator.columnOperationTitle}}</td>
                                <td>
                                    <button type="button" class="btn btn-default" (click)="assignIndicator(indicator)"><i class="fa fa-plus text-green"></i> Asociar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h3 *ngIf="!!indicator._id">Configurar Indicador: <strong>{{indicator.title}}</strong></h3>
                    <div *ngIf="!!indicator._id" class="form form-horizontal">
                        <div class="form-group">                          
                            <label for="" class="col-xs-12 col-sm-4 control-label">Valor esperado para el trimestre actual</label>
                            <div class="col-sm-6 col-xs-10 input-group">
                                <input type="number" class="form-control" [(ngModel)]="quarterExpected" [ngModelOptions]="{standalone: true}" required >
                                <span class="input-group-addon">{{indicator.data.title}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label col-xs-12 col-sm-4">Ponderaci&oacute;n dentro del objetivo</label>
                            <div class="col-xs-10 col-sm-6">
                                <input type="number" [(ngModel)]="factor" [ngModelOptions]="{standalone: true}" required class="form-control">
                            </div>
                        </div>
                        <button class="btn btn-success pull-right" type="button" (click)="saveGoalIndicator()">Guardar Indicador</button>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default">Cancelar</button>
                    <button type="submit"  [disabled]="!goalForm.form.valid" class="btn btn-primary pull-right">Guardar</button>
                </div>                
            </form>                    
        </div>
    </div>
</div>


