<!-- /.control-sidebar-menu -->

<h3 class="control-sidebar-heading">Tasks Progress</h3>
<ul class="control-sidebar-menu">
    <li>
    <a href="javascript::;">
        <h4 class="control-sidebar-subheading">
        Custom Template Design
        <span class="pull-right-container">
            <span class="label label-danger pull-right">70%</span>
        </span>
        </h4>

        <div class="progress progress-xxs">
        <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
        </div>
    </a>
    </li>
</ul>
<!-- /.control-sidebar-menu -->
